<%- include('partials/head.ejs') %>
<main>
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content w-full flex-col lg:flex-row-reverse">
            <div
                class="card w-sm max-w-sm shrink-0 bg-base-100 shadow-2xl"
                id="sign-up-form-card"
            >
                <div class="card-body">
                    <h1 class="mx-auto text-2xl font-bold">Sign Up</h1>
                    <form action="/signup" method="post">
                        <fieldset class="fieldset">
                            <label class="label" for="signup-email"
                                >Email</label
                            >
                            <input
                                id="signup-email"
                                type="email"
                                class="validator input"
                                placeholder="Email"
                                name="password"
                                required
                            />
                            <div class="validator-hint hidden">
                                Enter valid email address
                            </div>
                            <label class="label" for="signup-password"
                                >Password</label
                            >
                            <input
                                id="signup-password"
                                type="password"
                                class="validator input"
                                name="password"
                                placeholder="Password"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                required
                            />
                            <p class="validator-hint hidden">
                                Must be more than 8 characters, including
                                <br />At least one number <br />At least one
                                lowercase letter <br />At least one uppercase
                                letter
                            </p>
                            <label class="label" for="signup-confirm-password"
                                >Confirm password</label
                            >
                            <input
                                id="signup-confirm-password"
                                type="password"
                                class="validator input"
                                name="confirmPassword"
                                placeholder="Password"
                                required
                            />
                            <div class="validator-hint hidden">
                                Must be the same password entered in the
                                password field
                            </div>
                            <button class="btn mt-4 btn-neutral">
                                Sign up
                            </button>
                        </fieldset>
                    </form>
                    <div class="divider"></div>
                    <div class="text-sm">
                        <span class="mr-[.5ch]">Already a user ?</span>
                        <a href="/" class="link link-primary link-hover"
                            >Login</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="module" src="/scripts/signup.min.js"></script>
<%- include('partials/footer.ejs') %>
