<div class="breadcrumbs">
    <ul>
        <% breadcrumbs.forEach(bc => { %>
        <% if (bc.current) { %>
        <li class="font-medium"><%= bc.name %></li>
        <% } else { %>
        <li>
            <a class="font-medium link-accent" href="<%= bc.link %>"
                ><%= bc.name %></a
            >
        </li>
        <% } %>
        <% }) %>
    </ul>
</div>
