@import "tailwindcss" source("../views/");
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
    root: ":root";
    prefix:;
    logs: true;
}
@source inline("outline-hidden");
@source inline("outline-dotted");
